<div class="main-container">
    <div class="inner-container">
        <navbar-component></navbar-component>

        <div class="center-container space-right-left">
            <div class="center-text">
                <h2>Authentic & Modern on a</h2>
                <h2>Time<span>Honored Tradition</span></h2>
                <div class="small-text">
                    <h3>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur </h3>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatu</h3>
                </div>

            </div>
            <div class="btn-container">
                <button class="btn btn-price">Prices</button>
                <button class="btn btn-contact">Contact us</button>
            </div>
        </div>
    </div>
    <div class="triangles">
        <div class="left"></div>
        <mat-icon svgIcon="triangle"></mat-icon>
        <div class="right"></div>
    </div>
</div>

<location-component></location-component>
<footer-component></footer-component>


