<footer>
    <div class="center-container padding-right-left">
        <div class="logo">
            <div class="left-container">
                <div class="inner-logo">
                    <mat-icon svgIcon="barbershop"></mat-icon>
                    <h1>GiniBarber</h1>
                </div>
                <div class="footer-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquam aliquid asperiores,
                        aspernatur beatae consequatur cupiditate incidunt ipsam minima officia provident quia quo saepe,
                        sit unde ut vel? Alias architecto at beatae delectus, dolorum est illum itaque laborum neque
                        nisi quae quas quasi quisquam reprehenderit sapiente sed tempore vitae!</p>
                </div>
            </div>
            <div class="right-container">
                <ul>
                    <li><a [routerLink]="['/home']">Home</a></li>
                    <li><a [routerLink]="['/services']">Services</a></li>
                    <li><a [routerLink]="['/photos']">Photos</a></li>
                </ul>
            </div>
        </div>

        <div class="follow-us">
            <div class="follow-left">
                <mat-icon svgIcon="facebook"></mat-icon>
                <mat-icon svgIcon="instagram"></mat-icon>
            </div>
            <div class="follow-right">
                <p>SuperGini<span>&#8482;</span></p>
            </div>
        </div>

    </div>
</footer>
