<div class="main-container">
    <div class="x">
        <div class="y">
            <navbar-component></navbar-component>
        </div>
    </div>
    <div class="inner-container">
        <div class="services">

            <div class="box-price">
                <div class="text">
                    <h3>Haircut</h3>
                    <p>45 RON</p>
                </div>
                <div class="price"></div>
            </div>

            <div class="box-price">
                <div class="text">
                    <h3>Shave</h3>
                    <p>25 RON</p>
                </div>
                <div class="price"></div>
            </div>

            <div class="box-price">
                <div class="text">
                    <h3>Haircut + Washing</h3>
                    <p>60 RON</p>
                </div>
                <div class="price"></div>
            </div>

            <div class="box-price">
                <div class="text">
                    <h3>Beard cut + Styling</h3>
                    <p>40 RON</p>
                </div>
                <div class="price"></div>
            </div>

            <div class="box-price">
                <div class="text">
                    <h3>Haircut + Beard + Styling</h3>
                    <p>45 RON</p>
                </div>
                <div class="price"></div>
            </div>

            <div class="box-price">
                <div class="text">
                    <h3>Dyed hair / beard</h3>
                    <p>80 RON</p>
                </div>
                <div class="price"></div>
            </div>

        </div>

    </div>
</div>
<footer-component></footer-component>
