<div class="main-container">
    <div class="inner-container">

        <nav class="nav-bar space-right-left">
            <div class="logo">
                <mat-icon svgIcon="barbershop"></mat-icon>
                <h1>GiniBarber</h1>
            </div>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Photos</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>

        <div class="center-container space-right-left">
            <div class="center-text">
                <h2>Authentic & Modern on a</h2>
                <h2>Time<span>Honored Tradition</span></h2>
                <div class="small-text">
                    <h3>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur </h3>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatu</h3>
                </div>

            </div>
            <div class="btn-container">
                <button class="btn btn-price">Prices</button>
                <button class="btn btn-contact">Contact us</button>
            </div>
        </div>
    </div>
    <div class="triangles">
        <div class="left"></div>
        <mat-icon svgIcon="triangle"></mat-icon>
        <div class="right"></div>
    </div>

<!--    <footer>-->
<!--        <div class="follow-us">-->
<!--            <mat-icon svgIcon="facebook"></mat-icon>-->
<!--            <mat-icon svgIcon="instagram"></mat-icon>-->
<!--        </div>-->
<!--        <p>G<span>&#8482;</span></p>-->
<!--    </footer>-->
</div>


